# --- Python --- #
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Static and media files (if you use Django's collectstatic)
staticfiles/
media/

# Local environment variables
.env

# --- Node.js / React --- #
# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REACT Native error files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Parcel-bundler cache (React)
.cache/

# --- Redux / State Management --- #
# Redux state logs
redux-logger/

# --- Docker --- #
# Ignore Docker files that shouldn't be tracked
docker-compose.override.yml
.dockerignore
docker-compose.yml

# Containers and volumes
**/.docker/
**/docker-sync/
.docker-sync/

# --- Visual Studio Code --- #
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# --- Redis --- #
dump.rdb
appendonly.aof

# --- Celery --- #
celerybeat-schedule
celerybeat.pid

# --- System / IDE specific --- #
# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
*.log
*.sql
*.sqlite3

# Backup files
*.bak
*.swp
*.swo

# --- Coverage reports --- #
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
test-results/

# --- Other --- #
# Editor and IDE backups
*.orig
*.sublime-workspace
*.idea/
